<div class="insert-token">
    <h1 mat-dialog-title>Authenticating with Spotify</h1>
    <p>You will need an access token from your personal Spotify Premium account.</p>
    <h3 mat-dialog-title>you can find the OAuth Token <a href="https://developer.spotify.com/documentation/web-playback-sdk/quick-start/" target="_blank">here</a></h3>
    <div style="bottom: 25px;">
        <img src="assets/spotify.PNG" alt="">
        <mat-dialog-content>
            <form style="width: 100%;" [formGroup]="tokenFormGroup" form-field>
                <input class="input-field" type="text" autocomplete="off" formControlName="token" id="token"
                    class="form-control" placeholder="BQDsbn1UlTv5..." autofocus="">
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button class="btn btn-danger" (click)="addToken()">Update Token</button>
        </mat-dialog-actions>
    </div>
</div>